// Font
$mainFont: serif;
$montserratFont: sans-serif;
$slickFont: "slick", serif;

// Size
$fz1: 9px;
$fz2: 11px;
$fz3: 13px;
$fz4: 14px;
$fz5: 15px;
$fz6: 16px;
$fz7: 17px;
$fz8: 18px;
$fz9: 20px;
$fz10: 22px;
$fz11: 24px;
$fz12: 30px;
$fz13: 32px;
$fz14: 35px;
$fz15: 60px;
$fz44: 44px;

$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

$ls1: 0.05em;
$ls2: 0.1em;

$mainLineHeight: 1.2;
$lineHeight2: 1.5;
$lineHeight3: 1.7;
$lineHeight4: 1.3;

$desktopWidth: 1130px;
$smDesktopWidth: 992px;
$tablet: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$white: #fff;
$titleColor: #000;
$borderColor: #ddd;
$headerColor: #201E21;
$sidebarTextColor: #626264;
$textColor: #585858;
$brown: #6A483A;
$stage: #BB9775;
$gray: #eee;
$gray2: #8B8B8B;
$linkColor: #a3907c;
$baklajan: #5B3F4D;
$floorColor: #f1f3f0;
$floorActive: #a24936;